.Container{
    border-right: 1px solid #ccc;
    background-color: white;
    height:  calc(100vh - 100px);
    width: 235px;
}

.Content>ul{
    list-style: none;
    text-decoration: none;
    padding: 0%;
    margin-top: 20px;
}

.Contentb>ul{
    border-top: 1px solid #ededed;
    list-style: none;
    text-decoration: none;
    padding: 0%;
    margin-top: 100%;
}
@media(max-width:800px){
    .Container{
        width: 200px;
    }
}