.TableRow{
    display: flex;
    height: 30px;
}
.HeadRow{
    display: flex;
    height: 30px;
    background-color: #dedede;
}
.TableCell{
    width: 200px;
    display: flex;
    justify-content: center;
}
.DelIcon{
    margin-top: 3px;
    width: 25px;
    height: 25px;
    background-color: grey;
    flex: 1;
    text-align: center;
}
.EditIcon{
    flex: 1;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: grey;
}