.Container{
    border-radius: 15px;
    height: calc( 100vh - 160px );
}
.form{
    width: 70%;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius:20px ;
}
.Title{
    font-size: 20px;
    text-align:center;
    font-weight: 600;
    text-decoration: underline;
}
.Table{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.Disclaimer{
    font-size: 13px;
    font-style: oblique;
}
.MixedTable{
    display: flex;
    flex-direction: column;
}
