.Toolbar{
    height: 100px;
    width: 100%;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 90;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 150px;
    height:60px; 
    padding-right: 100px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: turquoise;
}
.text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px !important;
}
.text1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 100px !important;
    padding-left: 30px !important;
}
.Nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Nav>nav>ul>li>a{
    font-size: 20px;
    padding: 15px;
    color: white;
}
@media(max-width:800px){
    .Nav>nav>ul>li>a{
        font-size: 17px;
    }
    .Logo{
        width: 80px;
    }
}
.Nav>nav>ul>li>a:hover,a:active,a.active{
    color:#ccc ;
}
.Nav>nav>ul{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    display: flex;
    padding: 10px;
}
.Login{
    list-style: none;
    border:1px solid lightgrey;
    width: 110px;
    border-radius: 12px;
    height: 25px;
    background-color: white;
    padding: 5px;
    text-align: center;
}
@media(max-width:800px){
    .Login{
        width: 80px;
    }
    .Login>li>a{
        font-size: 10px;
    }    
}
.Login:hover{
    border-color: #1dcaff;
}
.Login:hover>li>a{
    color:  #1dcaff;
}
.Login>li>a{
    color: lightslategrey;
    font-size: 15px;
}