#title1
{
  color:white;
  font-size: 20px !important;
  
}
#title2
{
  color:white;
  font-size: 15px !important;
  padding-left: 300px;
  padding-right: 30px;
}
#title3
{
  color:white;
  font-size: 15px !important;
  padding-right: 30px;
  
}
#basic-nav-dropdown{
  color:white;
  font-size: 15px !important;
  padding-right: 30px;
}
#title4
{
  color:black;
  font-size: 12px !important;
  
}
#title5
{
  color:black;
  font-size: 12px !important;
  
}
#head1
{
  padding-top: 10px;
  padding-left: 500px;
}